:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.big-logo {
  width: 440px;
  height: 431px;

}

.password-input {
  position: relative;
}

.password-eye-btn {
  position: absolute;
  background: none;
  border: none;
  color: #ffffffbf;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  cursor: pointer;
}

.password-eye-btn.active {
  color: var(--primary-color);
}